{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node', 'hero'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}

<article{{ attributes.addClass(classes) }}>
  <header>
    <h2>
      {% if node.field_hero_headline.value|length %}
        {{ content.field_hero_headline }}
      {% else %}
        {{ label }}
      {% endif %}
    </h2>
    {% if node.field_subheadline.value|length %}
      <h3>
        {{ content.field_subheadline }}
      </h3>
    {% endif %}
  </header>
  {{ content.field_image }}
</article><!-- /.node -->
