{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
#}
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}

<article{{ attributes.addClass(classes) }}>
  {% if label %}
    <h1{{ title_attributes.addClass(title_classes) }}>
      {{ label }}
    </h1>
  {% endif %}

  {% if display_submitted %}
    <div class="submitted">
      <span class="date">
        {{ date.value|date("d.m.Y") }}
      </span>
      <div class="author">
        {{ author_name }}
      </div>
      {{ metadata }}
    </div>
  {% endif %}

  {% if not node.published %}
    <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
  {% endif %}

  {{ content|without('links') }}

</article><!-- /.node -->
