<div>
<div>
  <h3>Data</h3>
  {{ foo }}
</div>
<h3>Variables</h3>
<div>home_team: {{ home_team }}</div>
<div>away_team: {{ away_team }}</div>
<div>user: {{ user }}</div>
<div>location: {{ location }}</div>
<div>game_day: {{ game_day }}</div>
<div>game_time: {{ game_time }}</div>
<div>period: {{ period }}</div>
<div>final: {{ final }}</div>
<div>started: {{ started }}</div>
<div>updated_at: {{ updated_at }}</div>
<div>score: {{ score }}</div>
<div>notes: {{ notes }}</div>
</div>