<div>
<div>
  <h3>Data</h3>
</div>
<h3>Variables</h3>
<div>home_team: {{ gamedata.home_team }}</div>
<div>away_team: {{ gamedata.away_team }}</div>
<div>user: {{ gamedata.user }}</div>
<div>location: {{ gamedata.location }}</div>
<div>game_day: {{ gamedata.game_day }}</div>
<div>game_time: {{ gamedata.game_time }}</div
<div>period: {{ gamedata.period }}</div>
<div>final: {{ gamedata.final }}</div>
<div>started: {{ gamedata.started }}</div>
<div>updated_at: {{ gamedata.updated_at.time }}</div>
<div>score: {{ gamedata.score.home.total }}</div>
</div>